@model EditUserQualificationViewModel
@{
    ViewData["Title"] = "CurriculumVitaeEducation";
    Layout = "~/Areas/Individuals/Views/Shared/_IndividualPortalLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard", "Inidviduals")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Profiles</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Education</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Add Qualification</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>



                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12 ">

                            <form role="form" method="post" asp-action="" asp-controller="" asp-area="">

                                <div class="form-group">
                                    @*<label asp-for="QualificationLevels"></label>*@
                                    <select asp-for="QualificationLevelID" asp-items="Model.QualificationLevels" class="qualification-select"></select>
                                </div>
                                <hr />
                                <div class="form-group">
                                    @*<label asp-for="EductaionalInstitutions"></label>*@
                                    <select asp-for="EductaionalInstitutionID" asp-items="Model.EductaionalInstitutions" data-placeholder="Choose a Institution..." class="institution-select"></select><br />
                                    <small>If does not exists click add</small>
                                    <button type="button" class="btn btn-primary block full-width m-b " data-toggle="modal" data-target="#myModal">Add Institution</button>

                                </div>
                                <hr />
                                <div class="form-group">
                                    <label asp-for="QualificationTitle" class="control-label"></label><br />
                                    <small>Eg. Bsc Information and Technology</small>
                                    <input asp-for="QualificationTitle" class="form-control" />
                                    <span asp-validation-for="QualificationTitle" class="text-danger"></span>
                                </div>
                                <input type="text" class="js-range-slider" name="my_range" value="" />
                                @Html.HiddenFor(x => x.QualificationAverage)
                                <small>Indicate average achieved.</small>
                                <hr />
                                <div class="form-group" id="YearStarted">
                                    <label asp-for="YearStartedQualification" class="control-label"></label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" asp-for="YearStartedQualification" class="form-control" value="2019">
                                    </div>
                                </div>
                                <div class="form-group" id="YearCompleted">
                                    <label asp-for="YearCompletedQualification" class="control-label"></label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" asp-for="YearCompletedQualification" class="form-control" value="2019">
                                    </div>
                                </div>
                                <hr />
                                <button type="submit" class="btn btn-primary block full-width m-b">Add Qualification</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Qualification Summary </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-responsive  table-hover">
                            <thead>
                                <tr>
                                    <th>Options</th>
                                    <th>Title</th>
                                    <th>Institution</th>
                                    <th>Average</th>
                                    <th>Level</th>

                                    <th>Started</th>
                                    <th>Completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (UserQualificationViewModel item in Model.UserQualifications)
                                    {
                                <tr>
                                    <td>

                                        <button type="button" class="btn btn-danger"><i class=" fa fa-remove"></i></button>
                                    </td>
                                    <td>@item.QualificationTitle</td>
                                    <td>@item.EductaionalInstitution</td>
                                    <td>@item.QualificationAverage%</td>
                                    <td>@item.QualificationLevel</td>

                                    <td>@item.YearStartedQualification</td>
                                    <td>@item.YearCompletedQualification</td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                <h4 class="modal-title">Add Institution</h4>

            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label>Institution</label>
                    <input id="txtNewInstitution" placeholder="Enter Institution Name" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="AddNewInsitution();" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<environment names="Development,Staging,Production">
    <link rel="stylesheet" href="~/lib/chosen/bootstrap-chosen.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/ionRangeSlider/ion.rangeSlider.css" />

</environment>
@section Scripts {

    <partial name="_ValidationScriptsPartial" />

    <environment names="Development,Staging,Production">
        <script src="~/lib/chosen/chosen.jquery.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/lib/ionRangeSlider/ion.rangeSlider.min.js"></script>

    </environment>
    <script type="text/javascript">

        var _ViewModel = JSON.parse('{}');

        function AddNewInsitution() {
            if ($("#txtNewInstitution").val().length > 0) {
                _ViewModel.Id = 0;
                _ViewModel.EductaionalInstitution = $("#txtNewInstitution").val();
                $.ajax({
                type: "POST",
                url: '@Url.Action("EdutcationalInstitution", "IndividualCurriculumVitae")',
                        data: JSON.stringify(_ViewModel),
                        contentType: "application/json; charset=utf-8",
                        beforeSend: function (xhr) {
                        xhr.setRequestHeader("RequestVerificationToken",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                dataType: "json",
                    success: function (data) {

                        //remove formatting to allow adding of the item to the select list
                        $('.institution-select').chosen('destroy');

                        //add newly added item to the current list - Note its already selected.
                        var o = new Option($("#txtNewInstitution").val(), data.returned_ID);
                        o.selected = true;
                        $("#EductaionalInstitutionID").append(o);

                        //add formatting again
                        $('.institution-select').chosen({ width: "100%" });

                       //Display for the used indicating that the add was successfull.
                        toastr.success(data.message, 'Successfull.');

                        //Resets the text box to empty to allow a new item to be addedd.
                        $("#txtNewInstitution").val('');
                        //hide the adding modal box.
                    $('#myModal').modal('hide');
                },
                error: function (xhr, textStatus, error) {
                    // $('.ibox').children('.ibox-content').addClass('sk-loading');
                    //$('#ShowFileRequerstNotificationConfirmationContent').html(error);
                    ////$('#ShowFileRequerstNotificationConfirmationModal').modal(options);
                    //$('#ShowFileRequerstNotificationConfirmationModal').modal('show');
                    $('#myModal').modal('hide');
                    toastr.error(data.message, 'Error');
                    //alert('Unable to send request - error: ' + error);

                    }
                });
            }

        }
        $(document).ready(function () {

            $('#YearStarted .input-group.date').datepicker({
                format: "yyyy",
                startView: 2,
                minViewMode: 2,
                maxViewMode: 2,
                keyboardNavigation: false,
                autoclose: true,
                defaultViewDate: { year: 2019, month: 01, day: 01 }
            });
            $('#YearCompleted .input-group.date').datepicker({
                format: "yyyy",
                startView: 2,
                minViewMode: 2,
                maxViewMode: 2,
                keyboardNavigation: false,
                autoclose: true,
                defaultViewDate: { year: 2019, month: 01, day: 01 }
            });

            $(".js-range-slider").ionRangeSlider({
                skin: "big",

                min: 0,
                max: 100,
                from: 50,
                grid: true,
                prettify: my_prettify,
                onStart: function (data) {
                    // fired then range slider is ready
                },
                onChange: function (data) {
                    // fired on every range slider update
                    $("#QualificationAverage").val(data.from);
                },
                onFinish: function (data) {
                    // fired on pointer release
                },
                onUpdate: function (data) {
                    // fired on changing slider with Update method
                }
            });

        });
        $('.qualification-select').chosen({ width: "100%" });
        $('.institution-select').chosen({ width: "100%" });


        function my_prettify(n) {

            return n + " %";
        }
        //$(".qualification-select").select2({
        //    placeholder: "Select a state",
        //    allowClear: true
        //});
    </script>

}


