@model EditCoreKbIndustryViewModel
@{
    ViewData["Title"] = "Industry";
    Layout = "~/Areas/Agents/Views/Shared/_AgentPortalLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Knowledge Base</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard", "Inidviduals")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Edit</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Industry</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Select Industry Category</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>

                <div class="ibox-content">

                    <div class="row">
                        <!--Industry Category Selection-->
                        <div class="col-sm-12">
                            <div class="form-group">
                                Industry Category
                                <select asp-for="IndustryCategoryID" asp-items="@Model.ListOfIndustryCategories" class="IndusrtyCategoriesOptions form-control" placeholer="Select Interests" style="width:100%;"></select><br />

                                <small class="text-info">*If Category is not listed add.</small>
                                <button type="button" class="btn btn-primary full-width" data-toggle="modal" onclick="resetAddCategoryForm();" data-target="#AddCategory">
                                    <i class="fa fa-plus">&nbsp;Add Category</i>
                                </button>
                            </div>
                        </div><!--Industry Category Selection-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>
                        List of Industries
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </div>

                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="resetAddIndustryForm();" data-target="#AddIndustry">
                        <i class="fa fa-plus">&nbsp;Add Industry</i>
                    </button>
                    <hr />
                    <div class="table-responsive">

                        <table id="CoreIndustryTable" class="table table-striped table-bordered table-hover  dataTables-Interests">
                            <thead>
                                <tr>
                                    <th>Options</th>

                                    <th>Industry</th>

                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th>Options</th>

                                    <th>Industry</th>

                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Add Indusrty Category  Modal-->
@Html.RenderPartialAsync("_AddCategory")
<!--Add Skill Category Skill Modal-->
<!--Add Industry Modal-->
<div class="modal inmodal fade" id="AddIndustry" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><i class="fa fa-industry">&nbsp;Add Industry</i></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    Industry
                    <input type="text" id="txtNewIndustry" class="form-control full-width" />

                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Canel</button>
                <button type="button" class="btn btn-primary" onclick="AddIndusrty();"><i class="fa fa-plus">&nbsp;Add Skill</i></button>
            </div>
        </div>
    </div>
</div><!--Add Skill Modal-->

@section Styles {
    <environment names="Development,Staging,Production">

        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    </environment>
}

@section Scripts {

    <environment names="Development,Staging,Production">


        <script src="~/lib/select2/dist/js/select2.min.js"></script>
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
    </environment>
    <script>

        /*Global Variables
         * ***************/
        var objIndustryTable;
        var objIndustryCategoriesCbo;
        /*End Global Variables
         * *******************/
        function resetAddCategoryForm() {

            $("#txtNewCategory").val('');
        }
        function resetAddIndustryForm() {

            $("#txtNewIndustry").val('');
        }
         function AddIndusrty() {
             var _ViewModel = JSON.parse('{}');
             if ($("#txtNewIndustry").val().length > 0) {
                 _ViewModel.ID = $("#IndustryCategoryID").val();
                 _ViewModel.TEXT = $("#txtNewIndustry").val();
                $.ajax({
                    type: "post",
                    url: '@Url.Action("AddIndusrty", "KnowledgeBase")',
                    data: JSON.stringify(_ViewModel),
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("RequestVerificationToken",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    dataType: "json",
                    success: function (data) {

                        //Add Skill to table

                        LoadIndustries(data.coreKbIndustryCategoryID);

                        //show success message

                        toastr.success("Industry Succssfully Added.", 'Successfull');

                        //Close the Modal.
                        $('#AddIndustry').modal('hide');

                    },
                    error: function (data, textStatus, error) {
                        toastr.success("Something went wrong - " + error, 'Error');

                    }
                });
            } else {
                toastr.warning("Please Enter Skill", 'Warning');
            }
        }

        function AddCategory() {
            var _ViewModel = JSON.parse('{}');

            if ($("#txtNewCategory").val().length > 0) {

                //_ViewModel.ID = $("#IndustryCategoryID").val();
                _ViewModel.TEXT = $("#txtNewCategory").val();

                $.ajax({
                    type: "post",
                    url: '@Url.Action("AddIndusrtyCategroy", "KnowledgeBase")',
                    data: JSON.stringify(_ViewModel),
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("RequestVerificationToken",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    dataType: "json",
                    success: function (data) {

                        //Add New category to list
                        //Adds the new item to the drop down
                        var newOption = new Option($("#txtNewCategory").val(), data.id, true, true);
                        $('.IndusrtyCategoriesOptions').append(newOption).trigger('change');

                        //show success message

                        toastr.success("Category Succssfully Added.", 'Successfull');

                        //Close the Modal.
                        $('#AddCategory').modal('hide');

                    },
                    error: function (data, textStatus, error) {
                        toastr.success("Something went wrong - " + error, 'Error');

                    }
                });
            } else {
                toastr.warning("Please Enter Category", 'Warning');
            }
        }
        function addIndusrtyToTable(data) {

            $.each(data, function (i, tblItem) {

                var arrayItems = new Array();
                $.each(tblItem, function (j, cellValue) {

                    if (j != "id") {
                        arrayItems.push(cellValue);
                    }

                });
                objIndustryTable.row.add(arrayItems);
            });
            objIndustryTable.draw();
        }
        function ClearIndustries() {

            objIndustryTable.clear().draw();

        }

        function LoadIndustries(CoreIndustryCategoryID) {
            var _ViewModel = JSON.parse('{}');


            if (CoreIndustryCategoryID != null) {

                _ViewModel.ID = CoreIndustryCategoryID;

                $.ajax({
                    type: "post",
                    url: '@Url.Action("GetIndustryByCategroy", "KnowledgeBase")',
                            data: JSON.stringify(_ViewModel),
                            contentType: "application/json; charset=utf-8",
                            beforeSend: function (xhr) {
                            xhr.setRequestHeader("RequestVerificationToken",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                    dataType: "json",
                    success: function (data) {
                         ClearIndustries();
                         addIndusrtyToTable(data);

                    },
                     error: function (data, textStatus, error) {
                         toastr.success("Something went wrong - " + error, 'Error');
                         ClearIndustries();
                    }
                });

            } else {
                ClearIndustries();
            }
        }

        $(document).ready(function () {

            $("#IndustryCategoryID").change(function () {

                LoadIndustries($(this).val());
            });



            objIndustryCategoriesCbo = $(".IndusrtyCategoriesOptions").select2({
                placeholder: 'Select Category, or Add.'
            });

            objIndustryTable = $('#CoreIndustryTable').DataTable({
                pageLength: 10,
                "language":
                {
                    "emptyTable": "No Industries Listed, Please Add!!"
                }
            });


            $("#IndustryCategoryID").trigger("change");

        });
    </script>

}
